.add-btn {
    background-color: #6a5af9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.add-btn:hover {
    background-color: #5948c9;
}

.events-container{
    grid-column: 1 / -1;
    margin-top: 1rem;
    padding: 2rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 60px;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

.card-body {
    padding: 10px;
}

.card-body h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}

.card-body p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.view-btn {
    background-color: #6a5af9;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.view-btn:hover {
    background-color: #5948c9;
}
